<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessKeys</key>
	<dict>
		<key>accessKeyToTheMovieDB</key>
		<string>d606c5433bfba3f0683a18150de0e283</string>
	</dict>
</dict>
</plist>
